.footer {
  height: 100%;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #111115;
  color: #fff;
  padding-bottom: 10px;

    @include tablets {
      min-height: initial;
    }
}

.footer__content {
  margin-top: 40px;
  min-height: 392px;
  height: 100%;

    @include laptop {
      width: 91%;
    }

    @include tablets {
      width: 94%;
      margin-top: 12px;
      min-height: initial;
      margin-bottom: 12px;
    }

    @include phones {
      margin-top: 21px;
    }

    &--donate {
      @include laptop {
        width: 94%;
      }
    }
}

.footer__grid {
  width: 100%;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include tablets {
    grid-template-columns:  repeat(2, 1fr);
    margin-bottom: 0;
    column-gap: 10px;
  }
  
  @include phones {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer__logo {
  margin-bottom: 69px;

    @include tablets {
      margin-bottom: 0;
    }

    @include phones {
      margin-bottom: 23px;
    }
}

.footer__form {
  display: flex;
  justify-content: flex-end;
  grid-column: 2 / 4;
  grid-row: 1 / 3;

    @include laptop {
      padding-right: 5px;
    }

    @include tablets {
      display: none;
    }

    @include phones {
      grid-column: initial;
      grid-row: initial;
    }

    &--donate {

      @include laptop {
        padding-right: 33px;
      } 
    }
}

.footer__button {
  @include tablets {
    margin-top: 30px;
  }

  @include phones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

.footer__socials {
  margin-top: 48px;

    @include tablets {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      display: flex;
      justify-content: flex-end;
      margin-top: 0;
    }

    @include phones {
      grid-column: 1;
      grid-row: 2;
    }
}

.footer__nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;

    @include laptop { 
      margin: 0 -17px;
    }

    @include footer-nav {
      padding-right: 20px;
    }

    @include tablets {
      margin: 0;
      margin-bottom: 2px;
      padding-right: 0;
    }

    @include phones {
      margin-bottom: 0;
      margin-top: 30px;
      padding: 0px 8px;
    }

    &--donate {
      @include laptop {
        margin: 0px -12px;
      }

      @include tablets  {
        margin: 0;
      }

      @include phones {
        margin-top: 30px;
      }
    }

}

.footer__authors {

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

    @include laptop {
      margin-right: -30px;
    }

    @include tablets {
      margin: 0;
      margin-top: 42px;
    }

    @include phones {
      grid-column: 1;
      grid-row: 4;
      margin-top: 30px;
    }

    &--donate {
      @include laptop {
        margin-right: 0;
      }
    }
}