.nav {
  width: 100%;
}

.nav__list {
  display: flex;

  @include laptop { 
    width: 100%;
    justify-content: space-between;
  }
}

.nav__item {
  margin-right: 52px;

  @include laptop { 
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  color: transparent;
  padding: 3px;
  color: #fff;
  transition: .3s;

    &--active {
      color: $orange;
      cursor: default;
    }

    &:hover {
      color: $orange;
    }
}