//fonts

$font-size: 16px;
$font-color: #333B41;

$font-bold-700: "Roboto-Bold";
$font-medium-500: "Roboto-Medium";
$font-regular-400: "Roboto-Regular";
$font-light-300: "Roboto-Light";


//colors

$green: #4B9200;
$orange: #F9804B;
$yellow: #FFEE2E;
$button-orange-gradient: linear-gradient(to right, rgba(249, 128, 75, 1), rgba(249, 128, 75, 1));
$button-orange-gradient-opacity: linear-gradient(to right, rgba(249, 128, 75, 0), rgba(249, 128, 75, 0));
$orange-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$pink-grdient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$red: #D31414;
$black-blue: #333B41;
$gray: #767474;
$gray-smoky: #ABABAB;
$light-gray: #F1F3F2;
$frosted-glass-white: #FDFDFF;

//z-index

$z-index-10minus: -10; // .offer__title // все подложки под карточки и инпуты
$z-index-10: 10; // input-donate, стрелки
$z-index-20: 20; // input-donate